<!DOCTYPE html>

<html lang="pt-br">
  <%- include("../partials/head", {page: "Home" }); %>

  <body class="container">
    <%- include("../partials/header"); %>

    <main>
      <div class="jumbotron">
        <h1>Node com EJS</h1>
        <p>Vamos aprender a trabalhar com arquivos EJS.</p>
        <p><%= subtitle %></p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos nulla veniam, ducimus
          vero dolorem doloremque voluptas nemo cumque a! Fuga animi ut aliquid minima maxime,
          molestiae labore. Vitae, dolor voluptates?
        </p>
        <br />
        <ul>
          <% items.forEach((item) => { %>

          <li><strong><%= item.title %></strong> <%= item.message%></li>

          <% }); %>
        </ul>
      </div>
    </main>

    <%- include("../partials/footer"); %>
  </body>
</html>
